@import "tailwindcss";

@theme {
  /* Colores */
  /* Colores empresariales Azul: #2d317d; Azul oscuro:  #14243c; gris: #d9d9dc */
  --color-primary: #09f;
  --color-primary-light: #ceecff;
  --color-primary-dark: rgb(0, 22, 83);
  --color-midu-lol: #f8dbff;
  --color-midu-lol-light: #ceecff;
  --bgcolor-qreativo: #2d317d;
  --bgcolor-gris: #d9d9dc;  
  --color-html: #E44D26;  
  /* Breakpoints */
  --breakpoint-xs: 350px;
}

.social-button {
  @apply p-2 size-10 xs:size-12 flex items-center justify-center rounded-full hover:scale-110 transition-transform;
  
}

.item-group {
  @apply rounded-md;
  height: 60px;
  width: 80%;
  background-color: var(--bgcolor-qreativo);
}

.item-group .enlace-item {
  @apply block text-center text-white py-2 w-full h-full  items-center justify-center flex;
  font-size: 1.2rem;
}

@media (min-width: 521px) {
  .avatar {
    margin-top: -135px !important;
  }

}

@media (max-width: 520px) {
  .avatar {
    margin-top: -125px;
  }

}

@media (max-width: 500px) {
  .avatar {
    margin-top: -115px;
  }

}

@media (max-width: 460px) {
  .avatar {
    margin-top: -105px;
  }

}

@media (max-width: 430px) {
  .avatar {
    margin-top: -95px;
  }
  .avatar-circle {
    height: calc(var(--spacing) * 33) !important;
    width: calc(var(--spacing) * 33) !important;
  }
}

@media (max-width: 400px) {
  .avatar {
    margin-top: -85px;
  }
  .avatar-circle {
    height: calc(var(--spacing) * 27) !important;
    width: calc(var(--spacing) * 27) !important;
  }
}

@media (max-width: 350px) {
  .avatar {
    margin-top: -65px;
  }
  .avatar-circle {
     height: calc(var(--spacing) * 23) !important;
      width: calc(var(--spacing) * 23) !important;
  }
}

@media (max-width: 300px) {
  .avatar {
    margin-top: -55px;
  }
  .avatar-circle {
      height: calc(var(--spacing) * 18) !important;
      width: calc(var(--spacing) * 18) !important;
  }
}

@media (max-width: 250px) {
  .avatar {
     display:none;
  }
}

.max-w-container {
    max-width: 580px;
}