---
import "../styles/global.css";

const mensajes = {
  facebook: "Hola vi esto en Facebook y quiero información",
  instagram: "Hola vi esto en Instagram y quiero información",
  tiktok: "Hola vi esto en TikTok y quiero información",
  default: "Hola, quiero información"
};
const { title = "Soy un Modal 🚀", content = "Aquí va tu contenido." } = Astro.props;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/cp.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Qreativo studio" />
		<meta name="publisher" content="Qreativo studio" />
		<meta name="description" content="remodelaciones todo costo, remodelacion de apartamentos, obra gris, quiero remodelar mi apartamento en obra gris, empresas de remodelacion en cali, empresa de remodelaciones" />
		<meta name="keywords" content="remodelaciones Cali, remodelar apartamento Cali, empresa remodelación Cali, obra gris remodelación, construcción Cali" />
		
		<!-- Open Graph (Facebook, LinkedIn, WhatsApp) -->
		<meta property="og:title" content="Construproyectos VM – Tu aliado en construcción y proyectos" />
		<meta property="og:description" content="remodelaciones todo costo, remodelacion de apartamentos, obra gris, quiero remodelar mi apartamento en obra gris, empresas de remodelacion en cali, empresa de remodelaciones" />
		<meta property="og:url" content="https://www.contruproyectosvm.com/bio" />
		<meta property="og:update_time" content="2025-08-16T03:32:41Z" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="es_CO" />

		<!-- WebP principal -->
		<meta property="og:image" content="https://bio.construproyectosvm.com/img/CONSTRUPROYECTOS.webp" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta property="og:image:secure_url" content="/og-image.jpg" />
		<!-- Fallback JPG -->
		 		<meta property="og:image" content="https://bio.construproyectosvm.com/img/CONSTRUPROYECTOS.png" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta property="og:image:secure_url" content="/og-image.jpg" />
		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Construproyectos VM – Tu aliado en construcción y proyectos" />
		<meta name="twitter:description" content="remodelaciones todo costo, remodelacion de apartamentos, obra gris, quiero remodelar mi apartamento en obra gris, empresas de remodelacion en cali, empresa de remodelaciones" />
		<meta name="twitter:image" content="https://bio.construproyectosvm.com/img/CONSTRUPROYECTOS.webp" />
		<meta name="twitter:image:alt" content="Construproyectos VM – Tu aliado en construcción y proyectos" />
		
		<link rel="canonical" href="https://www.contruproyectosvm.com/bio" />
		<title>Construproyectos VM | Remodelaciones en Cali – Obras y Apartamentos</title>
		<meta name="robots" content="index, follow" />
		<meta name="theme-color" content="#0d3b66" />
		<script type="application/ld+json">
			{
			"@context": "https://schema.org",
			"@type": "LocalBusiness",
			"name": "Construproyectos VM",
			"image": "https://www.contruproyectosvm.com/og-image.jpg",
			"url": "https://www.contruproyectosvm.com/bio",
			"telephone": "+57 3053012530",
			"description": "Empresa de remodelaciones y construcción en Cali. Remodelación de apartamentos, obra gris y más."
			}
		</script>
			<style>
				/* Declaración de la fuente */
				@font-face {
				font-family: "montserrat";
				src: url("/fonts/montserrat-regular.woff2") format("woff2"),
					url("/fonts/montserrat-regular.woff") format("woff");
				font-weight: 100 900; /* rango variable */
				font-stretch: 50% 100%; /* para wdth */
				font-style: oblique -10deg 0deg; /* para slnt */
				font-display: swap; /* mejora el rendimiento */
				}

				  /* Fuente 2: bank_gothic  */
				@font-face {
					font-family: "bank_gothic";
					src: url("/fonts/bank_gothic_light_regular-webfont.woff2") format("woff2"),
						url("/fonts/bank_gothic_light_regular-webfont.woff") format("woff");
					font-weight: 100 900; /* rango variable */
					font-stretch: 50% 100%; /* para wdth */
					font-style: oblique -10deg 0deg; /* para slnt */
					font-display: swap; /* mejora el rendimiento */
				}

								  /* Fuente 2: bank_gothic  */
				@font-face {
					font-family: "Montserrat-Bold";
					src: url("/fonts/Montserrat-Bold.ttf") format("ttf");
					font-weight: 100 900; /* rango variable */
					font-stretch: 50% 100%; /* para wdth */
					font-style: oblique -10deg 0deg; /* para slnt */
					font-display: swap; /* mejora el rendimiento */
				}
				/* Fuente global */
				:root {
				--font-primary: "montserrat",Arial, sans-serif;
				--font-secondary: "bank_gothic", Arial, sans-serif;
				--font-bold: "Montserrat-Bold",Arial, sans-serif;
				
				}

				body {
					font-family: var(--font-primary);
					font-weight: 400;
					margin: 0;
				}
			</style>
	</head>
	<body class="max-w-full mx-auto min-h-dvh ">
		<div class="relative bg-white mx-auto rounded-lg shadow-lg max-w-container ">
			<div class="relative">
				<div class="relative inset-0 flex items-center justify-center  ">
					<img src="Banner.svg" alt="Banner de Construproyectos VM" />
				</div>
			</div>

			<div class="avatar relative inset-0 flex items-center justify-center ">
				<div class="avatar-circle w-33 h-33 py-5 px-5 rounded-full border-5 border-[var(--bgcolor-qreativo)]">
					<img src="avatar.svg" alt="Logo de Construproyectos VM" />
				</div>
			</div>
			<div class="text-center font-bold relative inset-0 flex items-center justify-center">
				<span class=" text-black text-sm-mono  my-4 px-3 py- w-auto  items-center justify-center cursor-crosshair z-10  border var(--bgcolor-qreativo) rounded-full">
					@construproyectosvm
				</span>
			</div>
			

			<section class="relative inset-0 my-5 flex flex-col  items-center justify-center text-center">
				<!-- <img src="/logo.svg" alt="Logo" class="w-28 mb-4" /> -->
				<h1 class="font-title text-2xl">CONSTRUPROYECTOS VM</h1>
				<p class="text-gray-600">Te acompañamos a construir tus sueños</p>
			</section>

			<section class="flex gap-3  mt-4 justify-center">
				<!-- Whatsapp -->
				<!-- <a id="icon-whatsapp-link" class="bg-[var(--bgcolor-gris)] social-button animate-slide-up-fade animate-delay-100" aria-label="Whatsapp" title="Ir a Whatsapp de @construproyectosvm">
					<img src="img/svg/iconos/whatsapp_dos.svg" alt="Whatsapp" width="28" height="28"/>
				</a> -->

				<!-- Instagram -->
				<a class="bg-[var(--bgcolor-gris)] social-button animate-slide-up-fade animate-delay-200 "href="https://www.instagram.com/construproyectosvm" 
					target="_blank" aria-label="Instagram" title="Ir a Instagram de @construproyectosvm">
					<img src="img/svg/iconos/instagram.svg" alt="Instagram" width="28" height="28"/>
				</a>

				<!-- Facebook -->
				<a class="bg-[var(--bgcolor-gris)] social-button animate-slide-up-fade animate-delay-300" href="https://www.facebook.com/construproyectosvm"
					target="_blank" aria-label="Facebook" title="Ir a Facebook de @Contruproyectosvm">
					<img src="img/svg/iconos/facebook.svg" alt="Facebook" width="28" height="28"/>
				</a>

				<!-- Tik Tok -->
				<a class="bg-[var(--bgcolor-gris)] social-button animate-slide-up-fade animate-delay-300" href="https://www.tiktok.com/@construproyectosvm"
					target="_blank" aria-label="Tik Tok" title="Ir a Tik Tok de @contruproyectosvm">
					<img width="28" height="28" src="img/svg/iconos/Tiktok_tres.svg" alt="Tik Tok" />
				</a>
			</section>

			<section id="Servicios">
				<div class="group my-10 gap-4 flex flex-col justify-center items-center">
					<div class="item-group">
						<a id="url-whatsapp" href="" class="enlace-item">
							
                            <svg class="icon-whatsapp mr-3" xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 48 48" aria-hidden="true">
								<path fill="#cfd8dc" d="M24,4C13,4,4,13,4,24c0,3.4,0.9,6.7,2.5,9.6l-2.6,9.4c-0.1,0.3,0,0.7,0.3,1c0.2,0.2,0.4,0.3,0.7,0.3c0.1,0,0.2,0,0.3,0l9.7-2.5c2.8,1.5,6,2.2,9.2,2.2c11,0,20-9,20-20c0-5.3-2.1-10.4-5.9-14.1C34.4,6.1,29.4,4,24,4z"/>
								<path fill="#40c351" d="M35.2,12.8c-3-3-7-4.6-11.2-4.6c-8.7,0-15.8,7.1-15.8,15.8c0,3,0.8,5.9,2.4,8.4l0.4,0.6l-1.6,5.8l6-1.6l0.6,0.3c2.4,1.4,5.2,2.2,8,2.2c8.7,0,15.8-7.1,15.8-15.8C39.8,19.8,38.2,15.8,35.2,12.8z"/>
								<path fill="#fff" d="M19.3,16c-0.4-0.8-0.7-0.8-1.1-0.8c-0.3,0-0.6,0-0.9,0c-0.3,0-0.8,0.1-1.3,0.6c-0.4,0.5-1.7,1.6-1.7,4c0,2.3,1.7,4.6,1.9,4.9c0.2,0.3,3.3,5.3,8.1,7.2c4,1.6,4.8,1.3,5.7,1.2c0.9-0.1,2.8-1.1,3.2-2.3c0.4-1.1,0.4-2.1,0.3-2.3c-0.1-0.2-0.4-0.3-0.9-0.6c-0.5-0.2-2.8-1.4-3.2-1.5c-0.4-0.2-0.8-0.2-1.1,0.2c-0.3,0.5-1.2,1.5-1.5,1.9c-0.3,0.3-0.6,0.4-1,0.1c-0.5-0.2-2-0.7-3.8-2.4c-1.4-1.3-2.4-2.8-2.6-3.3c-0.3-0.5,0-0.7,0.2-1c0.2-0.2,0.5-0.6,0.7-0.8c0.2-0.3,0.3-0.5,0.5-0.8C19.5,16.5,19.4,16.3,19.3,16z"/>
							</svg>	
							<span class="">Hablemos de tu proyecto</span> 
						</a>
					</div>

					<div class="item-group hidden" aria-disabled="true" >
						<a href="" class="enlace-item">Descubre nuestro catálogo</a>
					</div>

					<div  class="item-group">
						<a id="url-mapa" href="" target="_blank"   class="enlace-item"  title="Ir a Google Maps de @construproyectosvm">Visítanos</a>
					</div>
				</div>
			</section>	
			<footer>
				<div class="text-center py-4">
					<p class="text-sm font-bold text-[var(--bgcolor-gris)]">© 2025 Construproyectos. Todos los derechos reservados.</p>
					<p class="text-sm font-bold text-[var(--bgcolor-gris)]">Diseño y desarrollo por <a href="https://qreativostudio.com" target="_blank" class="hover:underline">Qreativo Studio</a>.</p>
				</div>
			</footer>
			<div id="modal" class="modal">
				<div class="modal-content">
					<span id="closeModal" class="close">✖</span>
					<div class=" w-full h-full ">
						<img src="img/svg/modalInfo.svg" width="100%" height="100%" alt="información Link WhatsApp" />
					</div>
				</div>
			</div>
		</div>

		<script>
			const telefono = "573053012530";
			const urlmap = `https://www.google.com/maps/place/Edificio+Centro+Granada/@3.464001,-76.5306471,17z/data=!3m1!4b1!4m6!3m5!1s0x8e30a614b02e5865:0x55f0260eefa68ae6!8m2!3d3.464001!4d-76.5306471!16s%2Fg%2F11b7q87y52?entry=ttu&g_ep=EgoyMDI1MDgxOS4wIKXMDSoASAFQAw%3D%3D`;
			const mensajes = {
				facebook: "Hola, vi una publicación en Facebook y me gustaría recibir más información, por favor.",
				instagram: "Hola, encontré su contenido en Instagram y quiero saber más detalles.",
				tiktok: "Hola, vi un video en TikTok y estoy interesad@ en la información.",
				default: "Hola, estoy interesad@ en la información"
			};

			const params = new URLSearchParams(window.location.search);
			const source = params.get("utm_source")?.toLowerCase();
			let mensaje = mensajes.default;
			let is_tiktok = false;
			if (source === "facebook") {
				mensaje = mensajes.facebook;
			} else if (source === "instagram") {
				mensaje = mensajes.instagram;
			} else if (source === "tiktok") {
				mensaje = mensajes.tiktok;
				is_tiktok = true;
			}

			const mapsLink = document.getElementById("url-mapa");
			if (mapsLink) {
				mapsLink.setAttribute("href", urlmap);
			}
			const urlWhatsapp = `https://wa.me/${telefono}?text=${encodeURIComponent(mensaje)}`;
			const whatsappLink = document.getElementById("icon-whatsapp-link");
			const whatsappLink2 = document.getElementById("url-whatsapp");

			if(!is_tiktok){
				if (whatsappLink) {
					whatsappLink.setAttribute("href", urlWhatsapp);
				}
				
				if (whatsappLink2) {
					whatsappLink2.setAttribute("href", urlWhatsapp);
				}

			}else {
				const modal = document.getElementById("modal");
				const openBtn = document.getElementById("openModal");
				const closeBtn = document.getElementById("closeModal");

				if(modal){
					if(whatsappLink) {
						whatsappLink.addEventListener("click", (e) => {
							e.preventDefault(); 
							modal.classList.add("active");
						});

					}
					if(whatsappLink2) {
						whatsappLink2.addEventListener("click", (e) => {
							e.preventDefault();
							modal.classList.add("active");
						});
					}
					if(closeBtn) {	
  						closeBtn.addEventListener("click", () => modal.classList.remove("active"));
					}
					modal.addEventListener("click", (e) => {
						if (e.target === modal) {
						modal.classList.remove("active");
						}
					});
				}
			}



					
			</script>
  	</body>
</html>
